body{
    background-image:url(https://pbs.twimg.com/media/Cg-UoOQW0AYj2oB?format=jpg&name=4096x4096) ;
    background-size:100% ;
}
header{
    background-color: brown;
}
nav li{
   
    margin: 0 0 0 15px ;
}
nav a {
    text-transform:uppercase ;
    font-size: 35px;
    text-decoration: none;
    color: white;
}