p {
color:whitesmoke;
text-align: justify;
}
h1 {
text-align:center ;
}
body {
    background-image: url(https://pbs.twimg.com/media/CicLNLHWsAAFVeI.jpg);
    text-align:center ;
}
h2{
    text-align:center ;
}