p {
color:whitesmoke;
text-align: justify;
}
h1 {
text-align:center ;
}
body {
    background-image: url(https://cdn.wallpapersafari.com/6/14/vUoWwK.jpg);
   background-size:100% ;
    text-align:center ;
}
h2{
    text-align:center ;
}

li {
    color:red;
    font-size: 40px;
}
a {
    text-transform:uppercase ;
    font-size: 35px;
    color:red;
}